<div class="row">

  <h1 id="Skills">Hard & Soft Skills</h1>

<div class="col-lg-2">
  <button type="button" routerLink="/newskill" class="btn-btn-dark" *ngIf="isLogged">Nueva Skill</button>
</div>

<div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
      <circle-progress
      [percent]="(skill.porcentaje)"
      [radius]="85"
      [showUnits]="false"
      [title]="(skill.nombre)"
      [titleColor]="'black'"
      [titleFontSize]="'25px'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="7"
      [outerStrokeColor]="'skyblue'"
      [innerStrokeColor]="'darkgreen'"
      [animation]="true"
      [animationDuration]="600"> 
    </circle-progress>
    <td>
  <button class="btn btn-light" routerLink="/editskill/{{skill.id}}" style="background-color: rgb(255, 255, 255);">
      <i class="bi bi-pencil-fill" ></i> EDITAR</button>
    </td>
    <td *ngIf="isLogged">
      <button class="btn btn-danger" (click)="delete(skill.id)">
        <i class="bi bi-trash-fill"></i> BORRAR</button>
      </td>
    </div>
 

  <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="85"
        [showUnits]="false"
        [title]="'HTML 65%'"
        [titleColor]="'black'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'skyblue'"
      [innerStrokeColor]="'darkgreen'"
        [animation]="true"
        [animationDuration]="600"> 
      </circle-progress>
      </div>
   
      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="85"
        [showUnits]="false"
        [title]="'CSS 75%'"
        [titleColor]="'black'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'skyblue'"
      [innerStrokeColor]="'darkgreen'"
        [animation]="true"
        [animationDuration]="600"> 
      </circle-progress>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="85"
        [showUnits]="false"
        [title]="'Java 73%'"
        [titleColor]="'black'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'skyblue'"
        [innerStrokeColor]="'darkgreen'"
        [animation]="true"
        [animationDuration]="600"> 
      </circle-progress>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="87"
        [radius]="85"
        [showUnits]="false"
        [title]="'Illustrator 87%'"
        [titleColor]="'black'"
        [titleFontSize]="'22px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'skyblue'"
        [innerStrokeColor]="'darkgreen'"
        [animation]="true"
        [animationDuration]="600"> 
      </circle-progress>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="85"
        [showUnits]="false"
        [title]="'Photoshop 80%'"
        [titleColor]="'black'"
        [titleFontSize]="'20px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'skyblue'"
        [innerStrokeColor]="'darkgreen'"
        [animation]="true"
        [animationDuration]="600">
      </circle-progress>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="85"
        [showUnits]="false"
        [title]="'After Effects 60%'"
        [titleColor]="'black'"
        [titleFontSize]="'19px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'skyblue'"
        [innerStrokeColor]="'darkgreen'"
        [animation]="true"
        [animationDuration]="600"> 
      </circle-progress>
      </div>
</div>