<div class="navbar shadow-sm" id="mainNav">
    <div class="container">
 
      <a href="#" class="navbar-brand d-flex align-items-center">
       <img src="../assets/arg-programa.png" alt="">
       <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-12" id="Botones"> 
       
  </div>
       
      </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
