
<section class="py-5 text-center container">
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="fw-light" id="Bienvenida">Bienvenidos a mi Portfolio</h1> <img src="../assets/IMG_20211015_212838_714.jpg" width="300" height="-100"
        class="img-fluid" >
        
        <p id="Jr">Full Stack Developer Jr</p>
       
        <div class="row justify-content-center mt-3">
  
        <h4 class="card-title" id="nombre">Julieta Cuevas</h4>
                        <p class="card-text" id="Texto">
                          Soy de Rosario, actualmente soy estudiante de Diseño Grafico y Animacion, como asi tambien de Programacion.
                      </p>
                   
                    </div>
      </div>
    </div>
  </section>